.main-profile{
    font-family: 'quicksandlight';
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.profile-container{
    background:linear-gradient(180deg,yellow,rgb(248, 135, 6));
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 50px;
    height: 700px;
    width: 30vw;
    padding: 20px 30px 10px 30px;
    display: flex;
    flex-direction: column;
    text-transform:initial;
    align-items: center;
    justify-content: space-between;
}

.profile-container span{
    width: 350px;
}

.avatar{
    border-radius: 10px;
    height: 250px;
    width: 180px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}
.profile-container div{
    margin-top: 5px;
    text-decoration: wavy;
}
.profile-container button{
    border: none;
    background: none;
}
.edit-profile{
    background: url('../front-images/edit.png');
    height: 30px;
    width:30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition:all 0.2s ease
}

.edit-profile:hover{
    cursor: pointer;
    transform: scale(1.2);
}
