.main-updateuser{
    font-family: 'quicksandlight';
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding-bottom: 300px;
}
.updateuser-image{
    width: 150px;
    height: 200px;
    background-size: cover;
    margin: auto;
    margin-bottom: 10px;
    background-image: url('../front-images/user.png');
}

.updateuser-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 90vh;
    width: 35vw;
    margin-bottom: 30px;
    border: 1px solid black;
    border-radius: 10px;
    background: rgb(221,221,221);
    background: radial-gradient(circle, rgba(221,221,221,1) 20%, rgba(139,138,138,1) 70%, rgba(46,46,46,1) 95%);
}

.save-uploadedprofile{
    background-image: url('../front-images/direct-download.png');
    height: 40px;
    width: 40px;
    border: none;
    background-size: cover;
    background-color: transparent;
    transition: all 0.3s;
}
.save-uploadedprofile:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.save-uploadedprofile:active{
    transform: scale(1);
}
.updateuser-form input{
    border-radius: 10px;
    text-align: center;
}

.updateuser-form textarea{
    border-radius: 10px;
}

.uploadimage{
    border: none;
    background-image: url('../front-images/photo.png');
    height: 40px;
    width: 40px;
    background-size: cover;
    background-color: transparent;
    margin-top: 5px;
}

.uploadimage:hover{
    cursor: pointer;
}
.uploadimage-input{
    display: none;
}



.avatar-picker .avatar{
    height: 80px;
    width: 80px;
    background-size: cover;
    margin: auto;
    /* background-image: url(); */
}

.image-preview{
    height: 200px;
    width: 150px;
    background-size: cover;
    margin: auto;
}