
.bookings-container {
    width: 700px;
    margin: auto;
    font-family: 'quicksandlight';
    display: flex;
    flex-direction: column;
    color: black;
    background: linear-gradient(0deg,yellow,rgb(248, 135, 6));
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid black;
}

.bookings-container a {
    margin: 10px 30px;
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
}

.bookings-container a:hover{
    transform: scale(1.05);
}

.list-bookings {
    display: flex;
    justify-content: space-evenly;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}