@font-face {
  font-family: 'quicksandlight';
  src: url('./fonts/quicksand-variablefont_wght-webfont.woff2') format('woff2'),
       url('./fonts/quicksand-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'lobster_twobold_italic';
  src: url('./fonts/quicksand-variablefont_wght-webfont.woff2') format('woff2'),
       url('./fonts/quicksand-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'lobster_twoitalic';
  src: url('./fonts/lobstertwo-italic-webfont.woff2') format('woff2'),
       url('./fonts/lobstertwo-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.App {
  text-align: center;
}
.page{
  margin-top: 50px;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background:linear-gradient(90deg,yellow,rgb(248, 135, 6));
}
textarea{
  resize: none;
}

.main-logo{
  margin-top: 0;
  background: url('./img/logo.svg') no-repeat;
  background-size: contain;
  height: 50px;
  width: 50px;
  padding: 0;
}
.headerContainer h1 {
  margin: 0;
  margin-left: 7vw;
}
.loginContainer {
  width: 200px;
  height: 50px;
}
.loginContainer a{
  text-decoration: none;
}

.login-info{
  width: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.login-info:hover{
  cursor: pointer;
}

.login-info .avatar{
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-size: cover;
}

/* .loginContainer .flecha-abajo{
  height: 15px;
  width: 15px;
  background: url('./front-images/flecha-hacia-abajo-para-navegar.png') no-repeat;
  background-size: contain;
} */


.mainsearch{
  font-family: 'lobster_twobold_italic';
  color: white;
  display: flex;
  flex-direction: column;
}
.mainsearch form{
  font-style: italic;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainsearch form button{
  margin-top: 20px;
  height: 24px;
  width: 152px;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 10px
}

.error-div{
  background-image: url('./front-images/1FA.gif');
  width: 350px;
  height: 200px;
  background-size: cover;
  margin: auto;
}