@font-face {
  font-family: 'quicksandlight';
  src: url('./fonts/quicksand-variablefont_wght-webfont.woff2') format('woff2'),
       url('./fonts/quicksand-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'lobster_twobold_italic';
  src: url('./fonts/quicksand-variablefont_wght-webfont.woff2') format('woff2'),
       url('./fonts/quicksand-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'lobster_twoitalic';
  src: url('./fonts/lobstertwo-italic-webfont.woff2') format('woff2'),
       url('./fonts/lobstertwo-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.App {
  text-align: center;
  padding-bottom: 300px;
}
.page{
  height: 120vh;
  background: rgb(255,240,8);
  background: radial-gradient(circle, rgba(255,240,8,1) 0%, rgba(255,171,23,1) 29%, rgba(255,154,40,1) 59%, rgba(237,103,0,1) 79%, rgba(237,103,0,1) 91%);
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background: rgb(233,226,199);
  background: linear-gradient(45deg, rgba(233,226,199,1) 1%, rgba(162,147,111,1) 28%, rgba(107,96,80,1) 62%, rgba(233,226,199,1) 94%);
}
textarea{
  resize: none;
}

.main-logo{
  margin-top: 0;
  background: url('./img/logo.svg') no-repeat;
  background-size: contain;
  height: 50px;
  width: 50px;
  padding: 0;
}
.headerContainer h1 {
  margin: 0;
  margin-left: 7vw;
}
.loginContainer {
  width: 200px;
  height: 50px;
}
.loginContainer a{
  text-decoration: none;
}

.login-info{
  width: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.login-info:hover{
  cursor: pointer;
}

.login-info .avatar{
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-size: cover;
}


.mainsearch{
  font-family: 'lobster_twobold_italic';
  color: white;
  display: flex;
  flex-direction: column;
}
.mainsearch form{
  font-style: italic;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainsearch form button{
  margin-top: 20px;
  height: 24px;
  width: 152px;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 10px
}

.error-div{
  background-image: url('./front-images/1FA.gif');
  width: 350px;
  height: 200px;
  background-size: cover;
  margin: auto;
}

@media screen and (max-width:600px) {
  .page{
    min-height: 100vh;
    height: max-content;
    padding-bottom: 5vh;
  }
  .app{
    max-width: 400px
  }
}